<!DOCTYPE html>
<html>
  <head>
    <script src="/javascripts/libraries/jquery.js"></script>
    <script src="/javascripts/libraries/bootstrap.min.js"></script>
    <script src="/javascripts/libraries/jquery-ui.min.js"></script>
    <script src="/javascripts/custom/game-functions.js"></script>
    <script src="/javascripts/custom/game.js"></script>
    <link href="/stylesheets/normalize.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/custom.css" rel="stylesheet">
    <title>Memory Game</title>
  </head>
  <body>
    <div class="container">

      <div class="row title-row">
        <h1>Memory Game</h1>
      </div>

      <div class="row card-table">
        <% @programmers.each_with_index do |info_hash, i| %>
          <% info_hash.each do |name,info| %>
            <% info.each do |type, v| %>
              <div class="flip">
                <div class="card" data-programmer="<%= name %>" id="<%= @colors[(i + @seed) % 5] %>">
                  <div class="flipper">
                    <div class="face front"></div>
                    <div class="face back">
                      <% if type == :img %>
                        <img src="<%= v %>" class="headshot-card" width="170" height="174">
                      <% else %>
                        <h3 class="name-card"><%= v %></h3>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div><!-- card-table -->

      <div class="row center-contents winning-message">
        <div class="col-md-4"></div>
        <div class="col-md-4 winner-box">
          <h2>Congratulations!</h2><br>
          <a class="btn btn-info" href="/">Play again</a>
        </div>
        <div class="col-md-4"></div>
      </div>

    </div><!-- container -->
  </body>
</html>
