body {
  background-color: black;
  color: white;
}

.title-row {
  text-align: center;
}

.card {
  text-align: center;
  background-color: #EEE;
  height: 182px;
  width: 186px;
  overflow: hidden;
  color: black;
  border-radius: 5px;
  padding: 4px;
  display: inline-block;
}

.name-card {
  margin-top: 50px;
}